.btn {
    border-radius: 0% !important;
}
.btn:focus {
    box-shadow: none;
}
.site-btn{
    font-weight: 300;
    font-family: 'Roboto Condensed', sans-serif;
    color: white !important;
    background: #a25b5b !important;
    border-radius:0 5px 5px 0 !important;
}
.cart-btn{
    padding: 5px 15px 5px 15px;
    color: #FAFDFB;
    border-radius: 20px !important;
    border:0.5px solid #a25b5b;
    background: #a25b5b !important;
}