body {
    background-color: #FAFDFB !important;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #212121;
    box-sizing: border-box;

}
.BetweenTwoSection{
    margin-top: 60px;
    margin-bottom: 60px;


}

.TopSection{
    margin-top: 68px;
}

/* .goog-te-benner-fram{
    top: initial;
    bottom: 0;
    display: none;
} */


.goog-te-banner-frame{
    top: initial;
    bottom: 0;
    display: none;
}
.Link{
    text-decoration: none !important;
}
.Link.hover{
    text-decoration: none !important;
}
.ph-item{
    border: none !important;
}